BasedOnStyle: WebKit
BreakConstructorInitializers: AfterColon
PointerAlignment: Right
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
ColumnLimit: 120
CompactNamespaces: true
