/Makefile
/conf.log
/conf.pri
/tmtags
/psi
/psi.exe
/psi.exp
/psi.lib
/src/psi_resource.rc
/pluginsconf.pri
._*
.DS_Store
.AppleDouble
:2e_*
*.swp
qrc_*
*.moc
*.o
*.pdb
*.orig
*.rej
*.ilk
ui_*
moc_*
object_script.*
mocinclude.tmp
release/
debug/
Makefile.Release
Makefile.Debug
Makefile.initvars
third-party/qca/.moc
third-party/qca/_moc
third-party/qca/.obj
third-party/qca/_obj
third-party/qca/libqca_psi.a
third-party/qca/Makefile
src/.moc
src/_moc
src/.obj
src/_obj
src/.rcc
src/_rcc
src/.ui
src/_ui
src/Makefile
src/config.h
src/psi.app
src/psi
src/psi.debug
src/capabilities/unittest/Makefile
src/unittest/Makefile
src/utilities/unittest/Makefile
src/AutoUpdater/guitest/Makefile
src/AutoUpdater/guitest/testapp-2.0/Makefile
src/AutoUpdater/guitest/testapp-2.0/testapp.app
src/AutoUpdater/guitest/testapp-2.0/testapp-2.0.zip
src/AutoUpdater/guitest/testapp/Makefile
src/AutoUpdater/guitest/testapp/testapp.app
src/plugins/*/*/Makefile
checker
*.user
*.user.*
/mac/*.dmg
/mac/disk
/mac/Info.plist
/psi.debug
.qmake.cache
.qmake.stash
psi.app/
