[Desktop Entry]
# This is the spec version, *not* the application version
Version=1.1
Type=Application
Name=Psi
GenericName=XMPP Client
Comment=Communicate over the XMPP network
Icon=psi
Exec=psi %U
MimeType=x-scheme-handler/xmpp;
Terminal=false
X-KDE-StartupNotify=true
StartupWMClass=Psi
Categories=Network;InstantMessaging;Qt;
Keywords=XMPP;Jabber;Chat;InstantMessaging;

# Translations
GenericName[be]=Кліент XMPP
GenericName[bg]=Клиент за XMPP
GenericName[ca]=Client XMPP
GenericName[cs]=XMPP Klient
GenericName[de]=XMPP-Programm
GenericName[el]=XMPP Client
GenericName[eo]=XMPP Klientilo
GenericName[es]=Cliente XMPP
GenericName[fr]=Client XMPP
GenericName[he]=לקוח XMPP
GenericName[it]=Client XMPP
GenericName[ja]=XMPPクライアント
GenericName[kk]=XMPP клиенті
GenericName[mk]=Клиент за XMPP
GenericName[nl]=XMPP Client
GenericName[pl]=Klient XMPP
GenericName[pt_BR]=Cliente XMPP
GenericName[ru]=XMPP-клиент
GenericName[sl]=Odjemalec za XMPP
GenericName[sv]=XMPPklient
GenericName[uk]=XMPP клієнт
GenericName[ur_PK]=جیبر وصول کار
GenericName[vi]=Ứng dụng khách XMPP
GenericName[zh_CN]=XMPP 客户端
GenericName[zh_TW]=XMPP 客戶端
Comment[be]=Размаўляйце ў сетцы XMPP
Comment[bg]=Комуникирайте през мрежата на XMPP
Comment[ca]=Comuniqui's a través de la xarxa XMPP
Comment[cs]=Komunikujte přes XMPP po síti
Comment[de]=Im XMPP-Netzwerk kommunizieren
Comment[el]=Επικοινωνήστε μέσω του δικτύου XMPP
Comment[eo]=Komunikiĝu per la ĵabbera reto
Comment[es]=Comunícate a través de la red XMPP
Comment[fr]=Communiquez via le réseau XMPP
Comment[he]=תקשר על פני רשת XMPP
Comment[it]=Comunica sulla rete XMPP
Comment[ja]=XMPPネットーワーク通信
Comment[kk]=XMPP желісі арқылы хабарласу
Comment[mk]=Комуницирајте преку XMPP мрежата
Comment[nl]=Communiceer over het XMPP netwerk
Comment[pl]=Komunikacja poprzez sieć XMPP
Comment[pt_BR]=Comunique-se através da rede XMPP
Comment[ru]=Общение в сети XMPP
Comment[sl]=Takojšnje sporočanje prek omrežij XMPP
Comment[sv]=Kommunicera över XMPPnätverket
Comment[uk]=Програма для спілкування в мережі XMPP
Comment[ur_PK]=جیبر نیٹ ورک پر مواصلت کریں
Comment[vi]=Liên lạc qua mạng XMPP nhé
Comment[zh_CN]=通过XMPP网络进行通信
Comment[zh_TW]=通過XMPP網絡進行通信
