[Desktop Entry]
# This is the spec version, *not* the application version
Version=1.0
Type=Application
Name=Psi
GenericName=Jabber Client
Comment=Communicate over the Jabber network
Icon=psi
Exec=psi
Terminal=false
Categories=Network;InstantMessaging;Qt;

# Translations
GenericName[be]=Кліент Jabber
Comment[be]=Размаўляйце ў сетцы Jabber
GenericName[bg]=Jabber Клиент
Comment[bg]=Комуникирайте през Jabber мрежата
GenericName[ca]=Client Jabber
Comment[ca]=Comuniqui's a través de la xarxa Jabber
GenericName[cs]=Jabber Klient
Comment[cs]=Komunikujte přes Jabber po síti
GenericName[de]=Jabber-Programm
Comment[de]=Im Jabber-Netzwerk kommunizieren
GenericName[eo]=Ĵabbera Klientilo
Comment[eo]=Komunikiĝu per la ĵabbera reto
GenericName[es]=Cliente Jabber
Comment[es]=Comunícate a través de la red Jabber
GenericName[fr]=Client Jabber
Comment[fr]=Communiquez via le réseau Jabber
GenericName[it]=Client Jabber
Comment[it]=Comunica sulla rete Jabber
GenericName[ja]=Jabberクライアント
Comment[ja]=Jabberネットーワーク通信
GenericName[mk]=Клиент за Jabber
Comment[mk]=Комуницирајте преку Jabber мрежата
GenericName[nl]=Jabber Client
Comment[nl]=Communiceer over het Jabber netwerk
GenericName[pl]=Klient XMPP
Comment[pl]=Komunikacja poprzez sieć XMPP
GenericName[pt_BR]=Cliente Jabber
Comment[pt_BR]=Comunique-se através da rede Jabber
GenericName[ru]=Jabber-клиент
Comment[ru]=Общение в сети Jabber
GenericName[sl]=Odjemalec za Jabber/XMPP
Comment[sl]=Takojšnje sporočanje prek omrežij Jabber/XMPP
GenericName[sv]=Jabberklient
Comment[sv]=Kommunicera över Jabbernätverket
GenericName[uk]=Jabber клієнт
Comment[uk]=Програма для спілкування в мережі jabber.
GenericName[ur_PK]=جیبر وصول کار
Comment[ur_PK]=جیبر نیٹ ورک پر مواصلت کریں
GenericName[vi]=Ứng dụng khách Jabber
Comment[vi]=Liên lạc qua mạng Jabber nhé
GenericName[zh_TW]=Jabber 客戶端
Comment[zh_TW]=在 Jabber 網路上交談
