<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>psi</string>
	<key>CFBundleGetInfoString</key>
	<string>Psi 0.15-devel by the Psi team. This program is licensed under the GNU GPL.</string>
	<key>CFBundleIconFile</key>
	<string>application.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.psi-im</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Psi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>Psi 0.15-devel</string>
	<key>CFBundleSignature</key>
	<string>psi</string>
	<key>CFBundleVersion</key>
	<string>0.15-devel</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
